{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=200px width=200px >
        </div>
        <h3><strong>{{ .Site.Params.author }}</strong></h3>
        <h3>Certification: Life Science 7-12</h3>
        <h3><i>As a teacher my career objective is to promote student inquiry, higher-order
        thinking, and collaboration in the secondary science classroom.  </i></h3>
        <h3> <a href="mailto:{{ .Site.Params.Social.Email }}">Email</a> day or night</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>