{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="It me." height=200px width=200px >
        </div>
        <h3><strong>{{ .Site.Params.author }}</strong></h3>
        <h3>Texas Ex, Future Teacher, and Climber</h3>
        <h3>Check out some neat <a href="{{ .Site.BaseURL }}projects/"> projects</a> I did in R.</h3>
        <h3>Feel free to reach me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
